html {
  overflow: hidden;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 90px;
}

#postsCarousel {
  height: 45%;
}

.card {
  border-style: single;
  border-color: black;
  border-width: 2px;
  background-color: #87cefa;
  margin-right: 20px;
  height: 500px;
  width: 800px !important;
  color: black !important;
}

/* CSS for map */

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* Set z-index to 0 as it will be on a layer below the contact form */
}

img {
  width: 100%;
  height: auto;
}

.contentArea {
  width: 45%;
}

/* CSS SPECIFIC TO GOOGLE MAP BACKGORUND */
#mainContent {
  position: relative;
  z-index: 1;
  /* The z-index should be higher than Google Maps */
  width: 45%;
  height: 45%;
  margin: 20px auto 0;
  padding: 10px;
  background: black;
  opacity: 0.45;
  /* Set the opacity for a slightly transparent Google Form */
  color: white;
}

.logoText {
  display: inline-block;
  color: white;
}

#logo {
  color: white;
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 10px;
}
