/* Uncomment this html overflow if the page starts to get weird with scroll bars */
html {
  overflow: hidden;
}

.heart {
  font-size: 25px;
  color: red;
}

/* MyPlace logo text */
h1 {
  font-family: "Righteous", cursive;
  font-size: 1.5em;
}

/* MyPlace tagline text */
h4 {
  font-size: 1rem;
}

/* Our university titles */
h3 {
  font-size: 1rem;
  font-weight: bold;
}

/* Change this if we want a custom link color */
/* a {
  color: #4ebe7d;
} */

/* Makes the text inside the card look even */
.card-body {
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

p {
  margin: 0;
}

#mainContent {
  margin-left: 1%;
}

/* CSS for map background */
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#techLogo {
  color: #4ebe7d;
}
#consoleLogo {
  color: #ffd70d;
}

#zipCode {
  width: 90px;
}

#searchbar {
  position: absolute;
  right: 15%;
  top: 30px;
  width: 325px;
  height: 35px;
}

/* Sets the MyPlace logo to the front, sets the positioning and the size */
#logo {
  width: 100%;
  background: rgba(26, 26, 26, 0.815);
  color: white;
  /* display: inline-block;
  position: absolute; */
  z-index: 2;
  /* top: 2%;
  left: 30%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2em;
  position: absolute;
  left: 0;
}

/* This is the main "card" that displays our content */
#contentArea {
  position: relative;
  top: 130px;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 0;
  width: 35vw;
  height: 82vh;
  background: rgb(219, 219, 219);
  overflow-y: auto;
  /* opacity: 0.85; */
}

/* gives our inner elements some breathing room */
.carousel-item {
  padding: 20px;
}

/* Sets the size of the image and centers it */
img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 30%;
}

/* Aligns the previous and next carrots to the top, gives them 30% height (so the click space isn't too large) */
.carousel-control-next,
.carousel-control-prev {
  margin-top: 15%;
  margin-bottom: auto;
  height: 30%;
}

/* Sets the clickable area of the prev and next icons, removes the white default carots */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

/* Cusotm carots to replace the white next carot we hid */
.carousel-control-next-icon:after {
  content: "►";
  font-size: 55px;
  font-weight: bolder;
  color: orangered;
}
/* Cusotm carots to replace the white previous carot we hid */
.carousel-control-prev-icon:after {
  content: "◄";
  font-size: 55px;
  font-weight: bolder;
  color: orangered;
}
