html {
  overflow-y: hidden;
}

.article {
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.article img {
  position: absolute;
  z-index: 0;
  height: auto;
  width: 100%;
  margin: -10;
  margin-top: -50px;
  overflow: hidden;
}
.article h1,
.article h2 {
  position: relative;
  z-index: 1;
}
